<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <title>Containers Demo</title>

    <style>
      body {
        padding-top: 5rem;
      }
      .message {
        padding: 3rem 1.5rem;
        text-align: center;
      }
      .logo {
        height: 200px;
        padding-bottom: 10px;
      }
    </style>

  </head>
  <body>

    <main role="main" class="container">
        <div class="message">
              <img class="logo" src="https://upload.wikimedia.org/wikipedia/commons/9/93/Amazon_Web_Services_Logo.svg"></image>
              {% if message %}
                <h1>{{ message }}</h1>
              {% endif %}
              <hr/>
              <pre>{{ metadata }}</pre>
        </div>
      </main>

  </body>
</html>
